* {
  font-family: 'Andada', serif;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;

}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;

}

header, main, footer {
  margin: 0 auto;
}

header {
  padding-top: 10em;
  text-align: center;
  background-image: url(005okl.jpg);
  background-position: center;
  background-size: cover;
  color: #dcdcdc; /*background-image: url('sciezka');*/
}

header section {
  margin: auto;
  max-width: 640px;
}

header img {
  width: 200px;
  border-radius: 100%;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
